<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/foundation.css" />
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <a href="/logout" class="large radius button">Logout</a><br/>
      </div>
    </div>
    {% for entry in data %}
      {{data}}
    {% endfor %}
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  </body>
</html>