<html>
  <head>
    <title>EmptyNUS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/foundation.min.css" />
    <link rel="stylesheet" href="static/css/app.css" />
  </head>
  <body>
    <div class="row">
      <div class="columns">
        <a href="/search"><h1>EmptyNUS</h1></a>
        <form action="" method="get">
          <div class="row">
            <div class="small-4 medium-3 columns">
              <label>Day
                <select name="day">
                  <option></option>
                  {% for day in days %}{% if day == request.args.get("day", "") %}<option selected="selected" value="{{day}}">{{day}}</option>{% else %}<option value="{{day}}">{{day}}</option>{% endif %}
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="small-3 medium-2 columns">
              <label>Time
                <select name="time" value="{{request.args.get("time", "")}}">
                  <option></option>
                  {% for time in times %}{% if time == request.args.get("time", "") %}<option selected="selected" value="{{time}}">{{time}}</option>{% else %}<option value="{{time}}">{{time}}</option>{% endif %}
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="small-5 medium-3 columns end">
              <label>Venue
                <div class="row collapse postfix">
                  <div class="small-7 medium-7 columns">
                      <input type="text" placeholder="Eg. COM1" name="venue" value="{{request.args.get("venue", "")}}">
                  </div>
                  <div class="small-5 medium-5 columns">
                    <input class="button postfix" type="submit" value="Search">
                  </div>
                </div>
              </label>
            </div>
          </div> 
        </form>
        {% if error %}
        <div class="row">
          <div class="medium-3 columns">
            <small class="error"><strong>{{ error }}</strong></small>
          </div>
        </div>
        {% elif results %}
        <div class="row">
          <div class="columns">
            <p>{{results.__len__()}} results</p>
            <table>
              <thead>
                <tr>
                  <th>Module</th>
                  <th>Venue</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Lesson Type</th>
                </tr>
              </thead>
              <tbody>
                {% for result in results %}<tr><td>{{result.code + " " + result.name}}</td><td>{{result.venue}}</td><td>{{result.start_time}}</td><td>{{result.end_time}}</td><td>{{result.lesson_type + " " + result.class_num}}</td></tr>{% endfor %}
              </tbody>
            </table>
          </div>
        </div>  
        {% endif %}
      </div>
    </div>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}  
  </body>
</html>